<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">



	<!--CONFIGURING ADDRESS CLASS BEAN -->
	
	<bean id="address" class="com.rahul.Address">
		<property name="city" value="Sasaram"></property>
		<property name="state" value="Rohtas"></property>
		<property name="post" value="Sasaram"></property>		
	</bean>
	
	

	<!--CONFIGURING EDUCATION CLASS BEAN -->
	
	<bean id="education" class="com.rahul.Education">
		<property name="enter_marks" value="73"></property>
		<property name="matric_marks" value="75"></property>
		<property name="graduation_marks" value="78"></property>
		<property name="address" ref="address"></property>		
	</bean>

</beans>