<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

		
	
	<!--CONFIGURING Patient CLASS BEAN -->
	<!-- <bean id="patient" class="com.hospital.Patient">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="Rahul Kumar"></constructor-arg>
		<constructor-arg value="6209466064"></constructor-arg>
		<constructor-arg value="Paracetamol,Antibiotic,VItamin - A"></constructor-arg>
	
	</bean>
	-->
	
	
	<!--CONFIGURING Patient CLASS BEAN -->
	<bean id="patient" class="com.hospital.Patient">

		<constructor-arg value="Paracetamol,Antibiotic,VItamin - A"></constructor-arg>
	
	</bean>
	
	
	
	

	

</beans>