<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="address" class="com.rahul.Address">

		<property name="city">
			<list>
				<value>Sasaram</value>
				<value>Kashmir</value>
				<value>Tripura</value>
				<value>Bangluru</value>
			</list>
		</property>
		
		<property name="books">
			<set>
				<value>WEB MODULES</value>
				<value>JDBC MODULE</value>
				<value>MVC</value>
				<value>JPA</value>
			</set>
		</property>
		
		
		<property name="hobbies">
			<map>
				<entry key="1" value="eatin"></entry>
				<entry key="2" value="sleeping"></entry>
			</map>
		</property>
		
		

	</bean>

</beans>