<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.rahul.Student">

		<property name="name" value="Rahul Papa" />
		<property name="age" value="100" />
		<property name="roll" value="102" />

	</bean>



	<bean id="address" class="com.rahul.Address">

		<property name="city" value="Sasaram" />
		<property name="pincode" value="821115" />


	</bean>

</beans>